body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000814;
    color: #fff;
}

.interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow-y: auto;
    width: 100%;
}

.filmes {
    display: flex;
    padding: .5em;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
    padding-bottom: 10em;
    width: 99%;
}

.filmes h2 {
    z-index: 1;
    margin: 0;
    margin-top: 1em;
}

.filmes-por-genero-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.filmes-por-genero {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.filmes-por-genero-container:hover .scroll-btn {
    visibility: visible;
}

.filmes-por-genero::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.filmes-por-genero .filme {
    flex: 0 0 auto;
    margin-right: 10px;
}

.scroll-btn {
    visibility: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    z-index: 1;
    background: rgba(0, 0, 0, 0.93);
    box-shadow: 0 0 100px 50px rgb(0, 0, 0);
    transition: .3s ease all;
    height: 100%;
}

.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}

.filme {
    display: flex;
    width: 12em;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: .5em;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.filme:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.fav button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 100;
    right: 0;
    padding: 1%;
    border: none;
    width: 40%;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: rotate(45deg) translate(20px, -20px);
    cursor: pointer;
}

.fav i {
    color: #FFD100;
    font-size: 20px;
    transform: rotate(-45deg) translate(-2px);
}

.filme img {
    width: 100%;
    height: 18em;
    position: relative;
    object-fit: cover;
    transition: transform 0.3s;
}

.filme:hover img {
    transform: scale(1.1);
}

.filme .txt-filme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    padding: 1em;
    background: rgba(15, 23, 42, 0.8);
    color: #e2e8f0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.filme:hover .txt-filme {
    opacity: 1;
}

.filme .txt-filme #genero-filme {
    font-size: 1.5rem;
    color: #94a3b8;
}

.filme .txt-filme p {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#deletar {
    padding: .7em 1em;
    border-radius: .5em;
    border: none;
    background-color: #bf0603;
    color: white;
    cursor: pointer;
    margin-top: 1em;
}

#deletar:hover {
    background-color: #780000;
}

#editar {
    padding: .7em 1em;
    border-radius: .5em;
    border: none;
    background-color: #036ebf;
    color: white;
    cursor: pointer;
    margin-top: 1em;
}

#editar:hover {
    background-color: #004478;
}

.destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95vh;
    background-color: black;
    box-shadow: 0px 95px 174px 107px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 95px 174px 107px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 95px 174px 107px rgba(0, 0, 0, 1);
    position: relative;
}

.destaque .info-destaque {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1em;
    border-radius: 1em;
    position: absolute;
    bottom: 10em;
    left: 5em;
    z-index: 10;
}

.destaque .info-destaque a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    background-color: #1f73aca4;
    border: none;
    border-radius: .5em;
    font-size: 1em;
    padding: .8em;
    color: #fff;
    text-decoration: none;
    transition: .2s ease all;
}

.destaque a:hover {
    background-color: #1f73ac;
}

.destaque h1 {
    font-size: 2.5em;
    color: #fff;
}

.destaque video {
    width: 100%;
    height: 115%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .interface {
        padding: 0 .5em;
        align-items: center;
        gap: 0;
        overflow-y: auto;
        height: calc(100dvh - 6em);
    }

    .destaque .info-destaque {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: .5em;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .destaque video {
        width: 110%;
    }

    .destaque .info-destaque a {
        padding: .2em;
    }

    .destaque h1 {
        margin: 0;
        margin-bottom: .2em;
        text-align: center;
        font-size: 1.5em;
    }

    .filmes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        padding: 0;
        padding-bottom: 5em;
    }

    .filme {
        width: 8em;
    }

    .filme .txt-filme #genero-filme {
        font-size: 15px;
    }

    .filmes-por-genero {
        display: flex;
        overflow-x: scroll;
        gap: 0;
        scroll-behavior: smooth;
        width: 100%;
    }

    .filmes-por-genero-container {
        overflow-x: auto;
        display: flex;
        padding: 0;
        width: 100%;
    }

    .filmes-por-genero .filme {
        flex: 0 0 150px;
    }

    .filme .txt-filme p {
        font-size: 15px;
    }

    .filmes .scroll-btn {
        display: none;
    }

    .options {
        margin: 0;
        padding: 0;
        gap: .5em;
    }

    #editar,
    #deletar {
        padding: .5em;
    }

    .fav button {
        width: 50%;
        transform: rotate(45deg) translate(15px, -16px);
    }

    .filme img {
        height: 10em;
    }
}