body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1em;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    overflow-y: auto;
}

#index {
    align-items: center;
    justify-content: center;
}

.img i {
    font-size: 4rem;
    color: #3b82f6;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.nome,
.cpf,
.senha,
.path,
.link,
.file,
.genero,
.novo-genero {
    position: relative;
}

.nome i,
.cpf i,
.senha i,
.path i,
.link i,
.file i,
.genero i,
.novo-genero i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #3b82f6;
    font-size: 1.2rem;
}

.genero {
    position: relative;
    width: 100%;
}

.genero select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #94a3b8;
    border-radius: 8px;
    background-color: #0f172a;
    color: #e2e8f0;
    width: 100%;
    transition: all 0.3s ease;
    padding-left: 2.5rem;
}

.genero select:focus {
    border-color: #3b82f6;
    outline: none;
    box-shadow: 0 4px 8px rgba(59, 130, 246, 0.5);
}



form select:focus,
form input:focus {
    border-color: #3b82f6;
    outline: none;
    box-shadow: 0 4px 8px rgba(59, 130, 246, 0.5);
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    background-color: #1e293b;
    padding: 2rem;
    border-radius: 1em;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

form a {
    margin-top: 1em;
    color: #ffff;
}

form p {
    font-size: 0.875rem;
    color: #94a3b8;
    text-align: center;
}

form input::placeholder {
    color: #64748b;
}

form h1,
h2 {
    font-size: 1.8rem;
    color: #3b82f6;
    text-align: center;
    margin: 0;
}

form input,
form select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #94a3b8;
    border-radius: 8px;
    background-color: #0f172a;
    color: #e2e8f0;
    transition: all 0.3s ease;
    padding-left: 2.5rem;
}

form label {
    font-size: 1rem;
    color: #94a3b8;
    margin-top: .5rem;
}

form #previewImg {
    height: 12em;
    width: 12em;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

form input[type="submit"] {
    background-color: #3b82f6;
    border: none;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 1em;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #2563eb;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(37, 99, 235, 0.4);
}

@media (max-width: 1020px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: auto;
    }

    form {
        padding: 1em;
    }

    #genero {
        flex-direction: column;
    }
}