body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000814;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #0d1117;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

header .user {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 20px;
    color: #ffffff;
}

header .user a {
    display: flex;
    justify-content: center;
    color: #ffffff;
    transition: transform 0.2s ease-in-out, color 0.2s;
}

header .user a:hover {
    transform: scale(1.3);
}

header .user img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid #ffffff;
}

header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header button a {
    display: inline-block;
    padding: 0.5em 1.5em;
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
    background-color: #bf0603;
    border: 2px solid #bf0603;
    border-radius: 2em;
    transition: all 0.3s ease;
}

header button a:hover {
    background-color: #830c0a;
}

.btn-menu {
    display: none;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

@media screen and (max-width: 1020px) {
    .btn-menu {
        display: block;
    }

    header {
        padding: .1em 1em;
    }
}