body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000814;
    color: #fff;
}

.interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow-y: auto;
    width: 100%;
}

.titulo {
    width: 100%;
}

.titulo h1 {
    margin: 0;
    text-align: left;
    padding: .5em;
    font-size: 2em;
}

.filme-container {
    display: flex;
}

.filmes {
    display: flex;
    padding: .5em;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding-bottom: 10em;
    width: 99%;
}

.filmes a {
    text-decoration: none;
    color: #fff;
    transition: .2s ease all;
    border-radius: .5em;
    overflow: hidden;
}

.filmes a:hover {
    background-color: #011a3f;
}

.txt h2 {
    margin: 0;
    font-size: 1.5em;
}

.txt p {
    margin: 0;
    font-size: 1em;
}

.filme {
    display: flex;
    width: 12em;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: .5em;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
}

.filme:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.botoes {
    display: flex;
    gap: 1em;
}

.botoes button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: .2s ease all;
}

.botoes button:hover {
    transform: scale(1.1);
}

.botoes button i {
    color: #fff;
    font-size: 3em;
}

.filme img {
    width: 100%;
    height: 18em;
    position: relative;
    object-fit: cover;
    transition: transform 0.3s;
}

.filme:hover img {
    transform: scale(1.1);
}

.filme .txt-filme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    padding: 1em;
    background: rgba(15, 23, 42, 0.8);
    color: #e2e8f0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.filme:hover .txt-filme {
    opacity: 1;
}

.filme .txt-filme #genero-filme {
    font-size: 1.5rem;
    color: #94a3b8;
}

.filme .txt-filme p {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#deletar {
    padding: .7em 1em;
    border-radius: .5em;
    border: none;
    background-color: #bf0603;
    color: white;
    cursor: pointer;
    margin-top: 1em;
}

#deletar:hover {
    background-color: #780000;
}

#editar {
    padding: .7em 1em;
    border-radius: .5em;
    border: none;
    background-color: #036ebf;
    color: white;
    cursor: pointer;
    margin-top: 1em;
}

#editar:hover {
    background-color: #004478;
}

@media screen and (max-width: 768px) {
    .interface {
        padding: 0 .5em;
        align-items: center;
        gap: 0;
        overflow-y: auto;
        height: calc(100dvh - 6em);
    }

    .titulo h1 {
        font-size: 1.5em;
    }

    .filmes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        padding: 0;
        padding-bottom: 5em;
    }

    .filmes a {
        margin-top: .5em;
    }

    .txt h2 {
        font-size: 1.2em;
    }

    .botoes {
        flex-direction: column;
        gap: .3em;
    }

    .botoes button i {
        font-size: 2em;
    }

    .filme {
        width: 8em;
    }

    .filme img {
        border-radius: .5em;
        height: 8em;
    }

    .filme .txt-filme p {
        font-size: 15px;
    }

    .options {
        margin: 0;
        padding: 0;
        gap: .5em;
    }

    #editar,
    #deletar {
        padding: .5em;
    }
}