body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteudo {
    display: flex;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: .5em;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
    color: #7a7a7a;
}

nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style: none;
}

nav ul a {
    display: flex;
    align-items: center;
    padding: 1em;
    text-decoration: none;
    color: #7a7a7a;
    font-size: 1rem;
    transition: .3s ease all;
}

nav ul a:hover {
    border-bottom: 2px solid #fff;
}

nav ul a i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.active i {
    color: #fff;
}

.active span {
    color: #fff;
}

.active span~a {
    border-bottom: 2px solid #fff;
}

@media screen and (max-width: 1020px) {
    nav {
        position: fixed;
        left: 0;
        top: auto;
        transform: translateX(0);
        bottom: 0;
        width: 100%;
        z-index: 1000;
        height: auto;
        transition: .5s;
        overflow-x: auto;
        background-color: #1e1e2eec;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }

    nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    nav ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: .5em;
        text-align: center;
        flex-direction: column;
    }

    nav ul li a span {
        font-size: 13px;
        color: #7a7a7a;
    }

    nav ul li a i {
        margin: 0;
        color: #7a7a7a;
    }
}