body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteudo {
    display: flex;
    height: 100%;
}

nav {
    position: relative;
    height: 100%;
    min-width: 15%;
    background-color: #1e1e2e;
    color: #ffffff;
    border-right: 2px solid #292d3e;
    overflow-y: auto;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
}

nav ul a {
    display: flex;
    align-items: center;
    padding: 1em;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

nav ul a:hover {
    background-color: #292d3e;
}

nav ul a i {
    margin-right: 10px;
    font-size: 1.2rem;
}

@media screen and (max-width: 1020px) {
    nav {
        position: fixed;
        left: 0;
        width: 0%;
        z-index: 1000;
        visibility: hidden;
        height: 100%;
        transition: .5s;
        overflow-x: auto;
    }

    nav.active {
        visibility: visible;
        left: 0;
        width: 50%;
        z-index: 1001;
    }

    nav.active::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.421);
        z-index: -1;
    }
}