body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000814;
}

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1em;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: 1%;
}

table {
    border-collapse: collapse;
    background-color: #1e1e1e;
    width: 80%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

table th,
table td {
    border: 1px solid #343a40;
    text-align: center;
    padding: .5em;
    color: #f5f5f5;
}

table th {
    background-color: #272727;
    /* Cabeçalho mais escuro */
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #1a1a1a;
    /* Alternância de linhas */
}

table tr:nth-child(odd) {
    background-color: #222222;
    /* Alternância de linhas */
}

table #edita {
    padding: .7em 1em;
    border-radius: .5em;
    border: none;
    background-color: #198754;
    /* Verde escuro para editar */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

table #edita:hover {
    background-color: #157347;
    /* Verde mais escuro no hover */
}

table #deleta {
    padding: .7em 1em;
    border-radius: .5em;
    border: none;
    background-color: #dc3545;
    /* Vermelho escuro para deletar */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

table #deleta:hover {
    background-color: #bb2d3b;
    /* Vermelho mais escuro no hover */
}

@media (max-width: 1020px) {
    table {
        width: 90%;
    }

    table th,
    table td {
        padding: 0.1em;
        font-size: 0.9em;
    }

    table #edita,
    table #deleta {
        padding: 0.5em 0.8em;
        font-size: 0.9em;
    }
}