body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.interface {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 1em;
}

.filme {
    height: fit-content;
    width: 50%;
    background-color: #023047;
    color: white;
    border-radius: 1em;
    overflow: hidden;
    text-align: center;
}

video {
    width: 100%;
}

.container {
    border-radius: 1em;
    overflow: hidden;
    width: 50%;
}

.comentarios {
    background-color: #023047;
    color: white;
    padding: 1em;
    overflow-y: auto;
    max-height: 70vh;
}

.comment {
    display: flex;
    gap: 1%;
    background-color: #219ebc;
    border-radius: 1em;
    margin: 1em 0;
    padding: 0 1em;
}

.nome {
    font-weight: bolder;
    font-size: 15px;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

form input[type="text"] {
    width: 100%;
    padding: .5em;
}

form button[type="submit"] {
    position: relative;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    padding: 1em;
    background-color: black;
    color: white;
}

@media screen and (max-width: 1020px) {
    .interface {
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    .filme {
        width: 100%;
    }
}