body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 1em;
    padding-top: 3em;
}

.img i {
    font-size: 60px;
}

.nome,
.cpf,
.senha,
.path,
.link,
.file {
    background-color: #219ebc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
}

.nome i,
.cpf i,
.senha i,
.path i,
.link i,
.file i {
    margin: 0 1em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    background-color: #0a100d;
    padding: 4em 5em;
    border-radius: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form h1 {
    margin: 0 0 .5em 0;
}

form input {
    border-radius: 0 1em 1em 0;
    border: none;
    padding: .5em;
}

form label {
    margin-top: 1em;
}

form input[type="submit"] {
    background-color: #219ebc;
    color: white;
    width: 100%;
    margin-top: 1em;
    border-radius: 1em;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    opacity: .7;
}

@media (max-width: 1020px) {
    form {
        padding: 1em 2em;
    }
}